
.container {

    background-color: lightgoldenrodyellow;
    text-align: center;
}
span{
    color: mediumblue;
}
ul{
    list-style: none;
}
.delete{
    background-color: lightblue;
}
#addForm{
    width:50%;
    float: left;
}
#updateAlign{
    width: 50%;
    float: left;
}
 #loader {
     position: absolute;
     left: 45%;
     top: 40%;
     width: 130px;
     height: 130px;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #700e80;
     -webkit-animation: spin 4s linear infinite;
     animation: spin 4s linear infinite;
 }
 .loading {
     position: absolute;
     left: 47%;
     top: 47%;
 }
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



